:root {
  --primary-color: #ffffff;
  --secondary-color: #6c61f6;
  --terciary-color: #bebebe;
  --background-color: #f9f7fe;
  --details-color: #000000;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Nunito", sans-serif;
}

/* Homepage */

body {
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.hero {
  padding: 170px 0;
}

.hero h1 {
  font-size: 80px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 50px;
  font-weight: 300;
}

.hero p {
  line-height: 3;
}

.btn-branding {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 14px 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.main {
  padding: 0 300px;
}

.main p {
  font-size: 18px;
}

#projects {
  padding-top: 80px;
  margin-top: -80px;
}

.rectangle-image {
  margin: 0 20px;
  padding: 100px;
}

.btn-outline {
  background-color: var(--terciary-color);
  color: var(--primary-color);
  padding: 10px 22px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--details-color);
  border: 1px solid var(--details-color);
}

/* Footer */

footer {
  margin: 35px 80px;
}

footer .container {
  background-color: var(--background-color);
  padding: 30px;
}

footer p {
  font-size: 18px;
}

.btn-footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 12px 10px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.btn-footer:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.fa-brands {
  color: var(--secondary-color);
}

.fa-brands:hover {
  opacity: 0.5;
}

/* About */

.about-main {
  padding: 100px 0;
}

.about-main h2 {
  font-size: 50px;
}

.rectangle-photo {
  margin: 0 20px;
  padding: 150px;
}

/* Skills */

.skills-main {
  padding-top: 100px;
}

.rectangle-certificate {
  padding: 80px;
}

.rectangle-my-project {
  padding: 100px;
}

/* Contact */

.contact-main {
  padding-top: 90px;
}

.contact-main p {
  font-size: 18px;
}

.contact-details {
  background-color: var(--background-color);
  padding: 30px;
}

.fa-solid {
  color: var(--secondary-color);
}

.fa-solid:hover {
  opacity: 0.5;
}

/* medias */

@media (min-width: 992px) and (max-width: 1200px) {
  .main {
    padding: 0 200px !important;
  }
}

@media (max-width: 992px) {
  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 30px;
  }

  .hero p {
    font-size: 16px !important;
  }

  .main {
    padding: 1rem;
    margin-top: 60px;
  }

  .rectangle-photo {
    padding: 80px;
  }

  .about-main {
    padding: 1rem;
    margin-top: 60px;
  }

  .rectangle-certificate {
    padding: 20px !important;
  }

  .rectangle-my-project {
    padding: 40px;
    margin: 0;
  }

  footer {
    margin: 10px 5px;
  }

  footer .container {
    display: block;
  }
}
